## 一、数据预处理

### 1、读取数据

In [175]:
import pandas as pd
data = pd.read_csv(r"数据集.csv")
print("原始数据条数：{}；\n原始数据属性字段数：{}".format(len(data),len(data.columns)))

原始数据条数：12684；
原始数据属性字段数：26

### 2、去除缺失值

In [176]:
##查看各字段缺失情况
data.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

根据数据缺失值情况，选择去除car字段；同时去除Bar、CoffeeHouse、CarryAway、RestaurantLessThan20、Restaurant20To50等字段缺失的记录行。又因toCoupon_GEQ5min字段值全为1，对建模无意义，故也进行删除。

In [177]:
cols = data.columns.to_list()
cols.remove("car")#去除car字段
cols.remove("toCoupon_GEQ5min")#去除toCoupon_GEQ5min字段
df = data[cols]
df = df.dropna()
df = df.reset_index(drop = True)
df

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Male,21,Single,...,never,less1,4~8,4~8,less1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Male,21,Single,...,never,less1,4~8,4~8,less1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Bar,1d,Male,21,Single,...,never,less1,4~8,4~8,less1,0,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Male,21,Single,...,never,less1,4~8,4~8,less1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Male,21,Single,...,never,less1,4~8,4~8,less1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12074,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,never,1~3,4~8,1~3,0,0,1,0,1
12075,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,never,1~3,4~8,1~3,0,0,0,1,1
12076,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,never,1~3,4~8,1~3,0,0,1,0,0
12077,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,never,1~3,4~8,1~3,1,1,0,1,0
12078,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,never,1~3,4~8,1~3,0,0,1,0,0

### 3、转换非数值型属性

In [195]:
destination = ["No Urgent Place","Home","Work"]#目的地
passanger = ["Alone","Friend(s)","Kid(s)","Partner"]#乘客
weather = ["Sunny","Rainy","Snowy"]#天气
temperature = [30,50,80]#温度
time = ["7AM","10AM","2PM","6PM","10PM"]#时间
coupon = ['Restaurant(<20)','Restaurant(20-50)','Coffee House','Carry out & Take away','Bar']#优惠券
expiration = ['2h','1d']#过期
gender = ["Female","Male"]#性别
age = ['below21','21','26','31','36','41','46','50plus']#年龄
maritalStatus = ['Single','Unmarried partner','Married partner','Divorced','Widowed']#婚姻状况
has_children = [0,1]#是否有小孩
education = ['Some High School','High School Graduate','Some college - no degree','Associates degree',
            'Bachelors degree','Graduate degree (Masters or Doctorate)']#学历
occupation = ['Unemployed','Architecture & Engineering','Student','Education&Training&Library','Healthcare Support',
              'Healthcare Practitioners & Technical','Sales & Related','Management','Arts Design Entertainment Sports & Media',
              'Computer & Mathematical','Life Physical Social Science','Personal Care & Service','Community & Social Services',
              'Office & Administrative Support','Construction & Extraction','Legal','Retired','Installation Maintenance & Repair',
              'Transportation & Material Moving','Business & Financial','Protective Service','Food Preparation & Serving Related',
              'Production Occupations','Building & Grounds Cleaning & Maintenance','Farming Fishing & Forestry']#职业
income = ['Less than $12500','$12500 - $24999','$25000 - $37499','$37500 - $49999','$50000 - $62499','$62500 - $74999',
         '$75000 - $87499','$87500 - $99999','$100000 or More']#收入
Bar = ['never','less1','1~3','4~8','gt8']
CoffeeHouse = ['never','less1','1~3','4~8','gt8']
CarryAway = ['never','less1','1~3','4~8','gt8']
RestaurantLessThan20 = ['never','less1','1~3','4~8','gt8']
Restaurant20To50 = ['never','less1','1~3','4~8','gt8']
#toCoupon_GEQ5min = [1]
toCoupon_GEQ15min = [0,1]
toCoupon_GEQ25min = [0,1]
direction_same = [0,1]
direction_opp = [0,1]
Y = [0,1]
Li = [destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,has_children,education,
      occupation,income,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ15min,
      toCoupon_GEQ25min,direction_same,direction_opp,Y]

根据上述各字段列表，将原始数据非数值字段内容替换为该字段列表对应内容的索引值

In [179]:
for index in df.index:
    for c in range(24):#25字段
        if c not in [3,10,19,20,21,22,23]:
            
            df.iloc[index,c] = Li[c].index(df.iloc[index,c])
        else:
            pass
df.head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,0,0,0,55,2,0,1,1,1,0,...,0,1,3,3,1,0,0,0,1,1
1,0,1,0,80,1,2,0,1,1,0,...,0,1,3,3,1,0,0,0,1,0
2,0,1,0,80,1,4,1,1,1,0,...,0,1,3,3,1,0,0,0,1,1
3,0,1,0,80,1,3,0,1,1,0,...,0,1,3,3,1,1,0,0,1,0
4,0,1,0,80,2,2,1,1,1,0,...,0,1,3,3,1,0,0,0,1,0

### 4、保存处理后数据

In [180]:
df.to_csv(r"处理后数据.csv",encoding="utf-8-sig")

## 二、字段筛选

### 1、数据归一化

In [181]:
#气候数据归一化
import numpy as np
df = pd.read_csv(r"处理后数据.csv",index_col=0)
for i in df.columns:
    df[i] = df[[i]].apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))#归一化
df.head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,0.0,0.000000,0.0,0.5,0.50,0.00,1.0,1.0,0.142857,0.0,...,0.0,0.25,0.75,0.75,0.25,0.0,0.0,0.0,1.0,1.0
1,0.0,0.333333,0.0,1.0,0.25,0.50,0.0,1.0,0.142857,0.0,...,0.0,0.25,0.75,0.75,0.25,0.0,0.0,0.0,1.0,0.0
2,0.0,0.333333,0.0,1.0,0.25,1.00,1.0,1.0,0.142857,0.0,...,0.0,0.25,0.75,0.75,0.25,0.0,0.0,0.0,1.0,1.0
3,0.0,0.333333,0.0,1.0,0.25,0.75,0.0,1.0,0.142857,0.0,...,0.0,0.25,0.75,0.75,0.25,1.0,0.0,0.0,1.0,0.0
4,0.0,0.333333,0.0,1.0,0.50,0.50,1.0,1.0,0.142857,0.0,...,0.0,0.25,0.75,0.75,0.25,0.0,0.0,0.0,1.0,0.0

### 2、相关性分析

In [182]:
df.corr()["Y"]

destination            -0.117910
passanger               0.049525
weather                -0.093807
temperature             0.056646
time                    0.017346
coupon                 -0.097371
expiration              0.133131
gender                  0.045261
age                    -0.057399
maritalStatus          -0.064993
has_children           -0.048333
education              -0.051840
occupation             -0.005200
income                 -0.028862
Bar                     0.072649
CoffeeHouse             0.112868
CarryAway               0.036913
RestaurantLessThan20    0.037051
Restaurant20To50        0.073151
toCoupon_GEQ15min      -0.081711
toCoupon_GEQ25min      -0.100542
direction_same          0.014361
direction_opp          -0.014361
Y                       1.000000
Name: Y, dtype: float64

### 3、Lasso回归

In [194]:
from sklearn.linear_model import Lasso
x = df[df.columns[:-1]]
y = df[df.columns[-1]]
lr=Lasso(alpha=0.01)
lr.fit(x,y)
print("根据lasso回归，选取在alpha=0.01时模型回归系数不0等于的特征")
for i in lr.coef_.tolist():
    if i!=0:
        print(df.columns[lr.coef_.tolist().index(i)],"：",i)

根据lasso回归，选取在alpha=0.01时模型回归系数不0等于的特征
destination ： -0.0834874819427352
weather ： -0.042877916893072666
coupon ： -0.06452261967988
expiration ： 0.1048760335778751
gender ： 0.0067590980285915595
has_children ： -0.00570805933674969
CoffeeHouse ： 0.0785593804307396
toCoupon_GEQ15min ： -0.024226950556431252

## 三、SVM-ANN混合预测模型

### 1、模型解释

本文选取"destination","weather","coupon","expiration","gender","has_children","CoffeeHouse","toCoupon_GEQ15min"等字段作为输入，Y字段作为输出；首先使用sklearn模块分别训练SVM和ANN模型，然后根据其预测结果训练梯度提升树（GradientBoostingClassifier）以产生最终输出。关键步骤是从测试集上的基本模型生成预测，然后使用这些预测作为输入特征来训练元模型。

### 2、SVM-ANN混合模型

In [276]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#划分数据集
X = df[["destination","weather","coupon","expiration","gender","has_children","CoffeeHouse","toCoupon_GEQ15min"]]#自变量
Y = df[["Y"]]#因变量
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

#建立SVM和ANN模型
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
svm = SVC()
ann = MLPClassifier(solver="adam",hidden_layer_sizes=10)
#训练模型
svm.fit(X_train,Y_train)
ann.fit(X_train,Y_train,)
#预测
svm_pre = svm.predict(X_test)
ann_pre = ann.predict(X_test)

#模型混合
blender = np.vstack((svm_pre,ann_pre)).T
blender_target = Y_test
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=10)#迭代次数10
gb.fit(blender,blender_target)
final_pre = gb.predict(blender)

### 3、模型精度

In [277]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,final_pre))

              precision    recall  f1-score   support

         0.0       0.64      0.42      0.51      1544
         1.0       0.66      0.83      0.73      2080

    accuracy                           0.65      3624
   macro avg       0.65      0.62      0.62      3624
weighted avg       0.65      0.65      0.64      3624

### 4、k倍交叉验证

In [278]:
from sklearn.model_selection import cross_val_score
cross_val_scores = cross_val_score(gb,X_test,final_pre,cv=10)#10折交叉验证
cross_val_scores.mean()

0.8802413892820724

根据10折交叉验证结果显示，模型模型性能比较稳定

### 5、正则化评估

In [279]:
from sklearn.model_selection import GridSearchCV
params = {"alpha":[0.1,1,10]}#L2正则化系数
grid = GridSearchCV(ann,params,cv=10)
grid.fit(X_train,Y_train)
grid_pre = grid.predict(X_test)

通过不同的L2惩罚（正则化项）参数来优化模型准确性

In [280]:
blender1 = np.vstack((svm_pre,grid_pre)).T
blender_target1 = Y_test

gb1 = GradientBoostingClassifier()
gb1.fit(blender1,blender_target1)
final_pre1 = gb.predict(blender1)

In [281]:
#模型精度
print(classification_report(Y_test,final_pre1))

              precision    recall  f1-score   support

         0.0       0.64      0.42      0.51      1544
         1.0       0.66      0.83      0.73      2080

    accuracy                           0.65      3624
   macro avg       0.65      0.62      0.62      3624
weighted avg       0.65      0.65      0.64      3624

In [282]:
cross_val_scores = cross_val_score(gb1,X_test,final_pre1,cv=10)#10折交叉验证
cross_val_scores.mean()

0.9489384046390577

根据以上结果可以看出，通过不同的L2惩罚（正则化项）参数来优化模型后，对模型准确率变化不大，对稳定性有一定程度的提高。

### 6、改变超参数

首先我们从步长(learning rate)和迭代次数(n_estimators)入手。一般来说,开始选择一个较小的步长来网格搜索最好的迭代次数。这里，我们将步长初始值设置为0.1。对于迭代次数进行网格搜索如下：

In [283]:
param_test1 = {'n_estimators':range(20,81,10)}
gsearch1 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, min_samples_split=300,
                                  min_samples_leaf=20,max_depth=8,max_features='sqrt', subsample=0.8,random_state=10), 
                       param_grid = param_test1, scoring='roc_auc',cv=5)
gsearch1.fit(blender,blender_target)
gsearch1.best_params_, gsearch1.best_score_

({'n_estimators': 20}, 0.6351623043218917)

可见最好的迭代次数是20

In [284]:
gb = GradientBoostingClassifier(n_estimators=50)
gb.fit(blender,blender_target)
final_pre = gb.predict(blender)

In [285]:
print(classification_report(Y_test,final_pre))

              precision    recall  f1-score   support

         0.0       0.64      0.42      0.51      1544
         1.0       0.66      0.83      0.73      2080

    accuracy                           0.65      3624
   macro avg       0.65      0.62      0.62      3624
weighted avg       0.65      0.65      0.64      3624

In [286]:
cross_val_scores = cross_val_score(gb,X_test,final_pre,cv=10)#10折交叉验证
cross_val_scores.mean()

0.9345912667610307

根据以上结果看出，将模型迭代次数改为20，对稳定性有一定程度的提高。